@import '../../variables';

.header {
  background: $primary-color;
}

.header-content {
  height: 60px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .auth-button {
    margin-left: auto;
  }
}

.header-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-height: 42px;
}

.popover {
  margin-top: 10px;
}
