.product-title {
  font-size: 18px;
}

.product-field {
  font-size: 15px;
  word-wrap: break-word;

  span:first-child {
    font-weight: bold;
  }
}

.product-info, .product-additional-description {
  > *:not(:first-child) {
    margin-top: 10px;
  }
}
