@import '../../../../variables';

.products-section {
  overflow: hidden;
}

.products-content {
  display: flex;
}

.products-description-text {
  margin-top: 30px;
}

.products-empty {
  text-align: center;
  width: 100%;
}

//slide
.products-slider {
  margin-top: 55px;
  height: 453px;

  .slider-controls {
    top: -50px;
  }

  .slides-container {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    overflow: visible;

    .slide {
      max-height: 373px;
      max-width: 241px;
      transform: translateX(365%);
      padding: 7px 10px;
      border: 1px solid $card-border-gray-color;

      &.active {
        transform: translateX(0);
        max-height: 437px;
        max-width: 293px;
        top: -32px;
        padding: 10px 12px;
        background: rgb(25,118,210, 0.9);
      }

      &.next {
        transform: translateX(135%);
      }

      &.prev {
        transform: translateX(250%);
      }

      .slide-title {
        font-weight: 700;
        font-size: 14px;
        max-width: 100px;
      }
    }
  }
}

.slide-buttons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

@media screen and (max-width: 1000px) {
  .products-section {
    padding-top: 100px;
  }
}

@media screen and (max-width: 875px) {
  .products-section {
    padding-top: 70px;
  }

  .products-content {
    flex-wrap: wrap;
  }

  .groups-slider {
    margin: 40px 0 0 0;

    .slider-controls {
      top: -50px;
    }
  }
}

@media screen and (max-width: 460px) {
  .products-section {
    padding-top: 20px;
  }

  .groups-slider {
    margin: 65px 0 0 0;
  }
}

