@import '../../variables';

.certificates-section {
  margin-bottom: 100px;
}

.certificate {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  img {
    max-width: 200px;
    width: 100%;
    border: 1px solid $card-border-gray-color;
    cursor: pointer;
  }

  p {
    margin-left: 30px;
  }
}

.certificate-modal {
  height: 100%;
  margin: 0 auto;
  width: 742px;
  overflow: auto;
  outline: none;

  img {}
}

@media screen and (max-width: 780px) {
  .certificate {
    flex-direction: column;

    p {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

