@import '../../variables';

.certificates-section {
  margin-bottom: 100px;
}

.certificate {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;

  img {
    max-width: 200px;
    width: 100%;
    border: 1px solid $card-border-gray-color;
    cursor: pointer;
  }

  p {
    margin-left: 30px;
  }
}

.certificate-modal {
  margin: 0 auto;
  //padding: 100px 0;
  max-width: 725px;
  outline: none;
  padding: 0;

  img {
    height: 100%;
  }
}

@media screen and (max-width: 780px) {
  .certificate {
    flex-direction: column;

    p {
      margin-left: 0;
      margin-top: 20px;
    }
  }
}

