@import '../../variables';

.edit-products {
  min-height: calc(100vh - 210px);
  padding-bottom: 50px;
}

.edit-products-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(0, 300px));
  justify-content: center;
  grid-auto-flow: row;
  grid-gap: 30px;
  margin: 0 auto;
}

.product-card-edit, .product-card {
  border: 1px solid $card-border-gray-color;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 300px;
}

.product-card {
  padding: 10px;
}

.product-card-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.product-card-edit {
  //grid-row: 1;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background: rgba(221,219,219, 0.4);
    border-radius: 4px;
  }
}

.edit-products-form {
  max-width: 600px;
  max-height: 700px;
  overflow: auto;
}

.child-modal-form {
  max-width: 400px;
}

.edit-products-img-label__text {
  margin-left: 8px;
}

.edit-products-img-preview {
  max-width: 200px;
  padding-bottom: 10px;
}

.edit-products-form-errors {
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.66;
  letter-spacing: 0.03333em;
  text-align: left;
  margin: 3px 14px 0;
  color: $red-color;
}

.edit-products-additional-field {
  display: flex;
  //justify-content: space-between;
}
