@import '../../variables';

.footer {
  background: $primary-color;
}

.footer-content {
  padding: 15px 0;
  color: white;
  flex-wrap: wrap;
}

.footer-content, .socials-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 120px;
}

.copyright {
  font-size: 13px;
}

.footer-info {
  display: flex;

  div {
    margin-left: 10px;
    font-size: 12px;
  }
}

.footer-img {
  margin-top: 20px;
}

@media screen and (max-width: 560px) {
  .footer-content {
    margin-top: 20px;
  }
}
